GenericPP/Properties/Local/PRIMA.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<schema xmlns:xs="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://developer.cognos.com/schemas/xmldata/1/" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="dataset">
    <complexType>
      <sequence>
        <element name="metadata">
          <complexType>
            <sequence>
              <element maxOccurs="unbounded" name="item">
                <complexType>
                  <attribute name="name" type="string" use="required" />
                  <attribute name="type" type="string" use="required" />
                  <attribute name="precision" type="unsignedByte" use="optional" />
                  <attribute name="length" type="unsignedByte" use="optional" />
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
        <element name="data">
          <complexType>
            <sequence>
              <element name="row">
                <complexType>
                  <sequence>
                    <element maxOccurs="unbounded" name="value" type="string" />
                  </sequence>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>